# macOS system files
.DS_Store

# Python cache
__pycache__/
*.pyc
.DS_Store

# Virtual environments
venv/
.env/
.micromamba/

# Datasets and raw files
data/raw/
*.zip
*.tar
*.tar.gz
*.sqlite3

# Database
data/*.sqlite3

#Models
*.pt
*.pth
*.onnx


# Large media (optional, if not needed in repo)
*.jpg
*.jpeg
*.png
*.mp4
