# Server & Web
fastapi==0.110.0
uvicorn[standard]==0.29.0
python-multipart==0.0.9

# ML / Vision
ultralytics==8.2.0
opencv-python==4.9.0.80
numpy==1.26.4
torch>=2.1.0
 torchvision>=0.16.0

# Data & Analysis
pandas==2.2.1
matplotlib==3.8.3
openpyxl==3.1.2
reportlab==4.0.9

# DB
SQLAlchemy==2.0.27

# TTS (Mac local)
pyttsx3==2.90
